GEMINI_API_KEY=AIzaSyBsY-89tUsRezCFhnA0rxQ1ZFqpZfY0S_c
SEARCH_API_KEY=AIzaSyA-lIOiKuSOGwE9LHMK8XkpJyij-XLakH4
SEARCH_CX=66856a3f62dde408a
GOOGLE_SHEET_URL=https://script.google.com/macros/s/AKfycbz6anhSS4atJw7fo4pD8E_5z4QyMkc3Su43MIv4TpX38h1debJ2Nj8XLZFXyKiedIo/exec
